## files and directories to ignore
DMS2structure_code_and_results/double_filament_2_monomers_facing/
Double_mutants_analysis/all_class_vars_analysis/
Previous_files_from_Mireia/
Double_mutants_analysis/all_vars_analysis/figures/
Double_mutants_analysis/all_vars_analysis/mochi_results/other_runs_not_using/
Double_mutants_analysis/all_vars_analysis/not_using_M3_mut_classification_LOF_GOF.ipynb
Double_mutants_analysis/all_vars_analysis/ST1_nucleation_rate_constants_vs_growth_rates_v2.xlsx
Double_mutants_analysis/all_vars_analysis/ST3_inferred_ddEa_terms_v2.xlsx
Double_mutants_analysis/all_vars_analysis/ST4_inferred_ddEa_terms_vs_GR_v2.xlsx
Double_mutants_analysis/all_vars_analysis/ROC_ddEa.ipynb
Double_mutants_analysis/all_vars_analysis/GEO_data_table_sheet.csv
Double_mutants_analysis/all_vars_analysis/copy-full_M3_looking_at_mochi_results.ipynb
Double_mutants_analysis/all_vars_analysis/M5_Generating_GEO_data_table.ipynb
Double_mutants_analysis/all_vars_analysis/not_using_M5_producing_figures.ipynb
Combinatorial_mutants_analysis/all_DTS_analysis_old/
Combinatorial_mutants_analysis/DMS2structure_related/
Combinatorial_mutants_analysis/files/
Combinatorial_mutants_analysis/S0_getting_pairwise_features.ipynb
Combinatorial_mutants_analysis/Physical_distances_from_PDBs_from_Mireia/
Combinatorial_mutants_analysis/mochi_results/not_used_mochi_runs/
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/DTS01_DTS05_DTS14/
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/no_DTS02/
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/M1_MoCHI_DTS_subsampled_dead_analysis.ipynb
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/DTS01_DTS05/files/
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/DTS01_DTS05/figures/
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/DTS01_DTS05/old-full_M1_MoCHI_DTS01_DTS05_DTS14_all_vars_analysis.ipynb
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/DTS01_DTS05/full_M2_scaling_and_recentering_MoCHI_terms.ipynb
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/DTS01_DTS05/not_using_oldM2_looking_at_mochi_results_2nd_order_terms_new.ipynb
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/DTS01_DTS05/full_M3_looking_at_mochi_results.ipynb
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/DTS01_DTS05/full_M4_comparison_of_inter_and_spatial_proximity.ipynb
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/DTS01_DTS05/ST9_interaction_scores_vs_3D_distances.xlsx
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/DTS01_DTS05/ST9_combinatorial_mutants_inferred_ddEa_and_dddEa_terms.xlsx
Combinatorial_mutants_analysis/selected_DTS_datasets_analysis/DTS01_DTS05/ST10_interaction_scores_vs_3D_distances_scaled_v2.xlsx
Phi_analysis/Double_4_stack_filament_analysis/
Phi_analysis/Single_4_stack_filament_analysis/files/
Phi_analysis/Single_4_stack_filament_analysis/figures/
Phi_analysis/Single_4_stack_filament_analysis/pdbs_for_visualisation/
Phi_analysis/Single_4_stack_filament_analysis/7q4b_3_stack/
Phi_analysis/Single_4_stack_filament_analysis/7q4m_3_stack/
Phi_analysis/Single_4_stack_filament_analysis/ST6_ddG_predicted_with_FoldX.xlsx
Phi_analysis/Single_4_stack_filament_analysis/ST7_ddEa_to_ddG_ratios.xlsx
Phi_analysis/Single_4_stack_filament_analysis/ST7_phi_values.xlsx
Phi_analysis/Single_4_stack_filament_analysis/ST8_RMS_indiv_ddEa_to_ddG_ratios_APR2.xlsx
Phi_analysis/Single_4_stack_filament_analysis/ST8_RMS_phi_values.xlsx
Phi_analysis/Single_4_stack_filament_analysis/previous_notebooks_not_using/
Phi_analysis/Single_4_stack_filament_analysis/7q4b/old_stuff_not_using/
Phi_analysis/Single_4_stack_filament_analysis/7q4m/old_stuff_not_using/
Phi_analysis/Single_4_stack_filament_analysis/2beg/farm_error_output_files/
Phi_analysis/Single_4_stack_filament_analysis/2mxu/farm_error_output_files/
Phi_analysis/Single_4_stack_filament_analysis/2nao/farm_error_output_files/
Phi_analysis/Single_4_stack_filament_analysis/5kk3/farm_error_output_files/
Phi_analysis/Single_4_stack_filament_analysis/5oqv/farm_error_output_files/
Phi_analysis/Single_4_stack_filament_analysis/7q4b/farm_error_output_files/
Phi_analysis/Single_4_stack_filament_analysis/7q4m/farm_error_output_files/
Phi_analysis/Single_4_stack_filament_analysis/8ezd/farm_error_output_files/
Phi_analysis/Single_4_stack_filament_analysis/8eze/farm_error_output_files/


